$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$basic-font: "Montserrat", sans-serif;

.header {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  justify-content: space-between;

  #logo {
    width: 15%;
  }
  .link {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $primary-color;
    text-decoration: none;
    margin-right: 25px;

    &:hover {
      text-decoration: underline;
    }
  }
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

//COMPOSANT BANNER

.banner {
  display: flex;
  justify-content: center;
  height: 225px;
  position: relative;
  margin-top: 20px;
  img {
    width: 85%;
    object-fit: cover;
    border-radius: 25px;
  }
  .filter {
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    width: 85%;
    height: 225px;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
  }
}

//COMPOSANT GALLERY

.gallery {
  display: flex;
  width: 85%;
  height: fit-content;
  margin-left: 7.5%;
  margin-top: 50px;
  padding-top: 30px;
  background-color: $secondary-color;
  border-radius: 25px;

  .inner-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
  }

  .card {
    width: 340px;
    height: 340px;
    position: relative;
    margin: 35px;
    display: flex;
    border-radius: 10px;

    .filter {
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.3),
        rgba(255, 255, 255, 0) 100%
      );
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      z-index: 2;
      position: absolute;
    }

    &:hover {
      cursor: pointer;
    }

    .card-title {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0%;
      left: 5%;
      color: white;
      font-size: 18px;
      font-weight: 500;
      font-family: $basic-font;
      z-index: 3;
    }
    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
      z-index: 1;
    }
  }
}

//PAGE LOGEMENT

.logement {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  //PARTIE CARROUSEL
  .carrousel {
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

    .carrouselpic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .carrousel-nav {
      position: absolute;
      background-color: transparent;
      border: none;
      z-index: 2;
    }
    #prev {
      top: 40%;
      left: 5%;
    }
    #next {
      top: 40%;
      right: 5%;
    }
    #num {
      position: absolute;
      font-family: $basic-font;
      font-size: 18px;
      font-weight: 500;
      bottom: 2%;
      left: 50%;
      color: white;
      z-index: 2;
    }
  }

  //PARTIE DESCRIPTION

  .lgmt-description {
    .lgmt-title {
      color: $primary-color;
      font-family: $basic-font;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: -40px;
    }

    .lgmt-host {
      display: flex;
      justify-content: end;
      align-items: center;
      max-width: 150px;
      position: relative;
      left: 90%;

      bottom: 25%;
      .host-name {
        font-family: $basic-font;
        font-size: 18px;
        color: $primary-color;
        font-weight: 500;
        flex-wrap: wrap;
      }
      .host-pic {
        width: 50%;
        border-radius: 50%;
      }
    }

    .lgmt-location {
      color: $primary-color;
      font-family: $basic-font;
      font-size: 18px;
      font-weight: 500;
      position: relative;
      bottom: 30px;
    }

    .tags-stars {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -30px;

      .lgmt-tags {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: -15px;
        .tag {
          color: white;
          background-color: $primary-color;
          font-family: $basic-font;
          font-size: 14px;
          font-weight: 500;
          width: fit-content;
          margin: 10px;
          padding: 3px;
          padding-left: 25px;
          padding-right: 25px;
          border-radius: 10px;
        }
      }

      .lgmt-rating {
        display: flex;
        .star {
          margin: 5px;
        }
      }
    }

    .lgmt-collapsers {
      display: flex;
      gap: 15px;

      .lgmt-collapser {
        width: 100%;
      }

      #equipment-collapser {
        padding-bottom: 50px;
      }
    }

    .equipment {
      list-style-type: none;
      margin: 10px;
    }
  }
}

//COMPOSANT COLLAPSER

.collapser {
  .collaps-button {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
    border: none;

    .title {
      color: white;
      font-family: $basic-font;
      font-size: 24px;
      font-weight: 500;
      margin-left: 15px;
    }
    .arrow {
      border: none;
      background-color: $primary-color;
      margin-right: 15px;
      transition: all 0.3s linear;
    }
    .arrow.up {
      transform: rotate(180deg);
    }
  }

  .text {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $basic-font;
    font-size: 24px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    height: 0px;
    overflow: hidden;
  }

  .text.true {
    padding-top: 10px;
    transition: height 0.3s ease-in-out, padding-top 0.3s ease-out;
  }

  .text.false {
    padding-top: 0px;
    transition: height 0.3s ease-in-out, padding-top 0.3s ease-out;
  }
}

//PAGE ABOUT

.about-page {
  display: flex;
  flex-direction: column;
  .collapser {
    width: 50%;
    margin-left: 25%;
  }
}

//PAGE ERROR 404

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .number {
    font-size: 288px;
    font-family: $basic-font;
    font-weight: 700;
    color: $primary-color;
    margin: 10px;
  }
  .text {
    color: $primary-color;
    font-family: $basic-font;
    font-size: 36px;
    font-weight: 500;
  }

  .error-link {
    color: $primary-color;
    font-family: $basic-font;
    font-size: 18px;
    font-weight: 500;
    margin-top: 150px;
  }
}

//COMPOSANT FOOTER

.footer {
  background-color: black;
  color: white;
  height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  #logo {
    width: 122px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .rights {
    font-family: $basic-font;
    font-weight: 500;
    font-size: 24px;
  }
}

//MOBILE VERSION

@media (max-width: 750px) {
  .header {
    width: 100%;
    margin-left: 5px;
    #logo {
      width: 40%;
    }
    .link {
      font-size: 15px;
      margin-right: 15px;
    }
  }

  .banner {
    width: 100%;
    img {
      width: 100%;
      border-radius: 10px;
    }
    .filter {
      width: 100%;
      border-radius: 10px;
    }
  }

  .home-page {
    .banner {
      height: 111px;
      .filter {
        font-size: 24px;
        height: 111px;
      }
    }

    .gallery {
      display: flex;
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-top: 10px;
      background-color: white;
      height: fit-content;

      .inner-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 0px;
      }

      .card {
        width: 350px;
        height: 255px;
        position: relative;
        margin: 10px;
        display: flex;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }

        .card-title {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          bottom: 0%;
          left: 5%;
          color: white;
          font-size: 18px;
          font-weight: 500;
          font-family: $basic-font;
        }
        img {
          object-fit: cover;
          overflow: hidden;
          border-radius: 10px;
        }
      }
    }
  }

  .logement {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;

    .carrousel {
      width: 100%;
      height: 300px;
      border-radius: 10px;
      .arrow {
        width: 15px;
      }

      #prev {
        top: 45%;
        left: 2%;
      }

      #next {
        top: 45%;
        right: 2%;
      }
      #num {
        display: none;
      }
    }

    .lgmt-description {
      .lgmt-title {
        font-size: 18px;
        margin-bottom: 0;
      }

      .lgmt-host {
        max-width: 100px;
        position: relative;
        top: 80px;
        left: 70%;

        .host-name {
          padding: 0;
          font-size: 12px;
          flex-wrap: wrap;
          margin-right: 0px;
        }
        .host-pic {
          width: 40%;
        }
      }

      .lgmt-location {
        font-size: 14px;
        position: relative;
      }

      .tags-stars {
        display: block;
        .lgmt-tags {
          align-items: center;
          margin-top: 20px;
          margin-left: 0;
          width: 100%;
          .tag {
            font-size: 10px;
            margin: 0px;
            margin-right: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
          }
        }

        .lgmt-rating {
          margin-top: 15px;
          .star {
            width: 15px;
          }
        }
      }

      .lgmt-collapsers {
        flex-direction: column;
        gap: 0px;
      }

      .equipment {
        margin: 2px;
        padding-left: 0;
      }
    }
  }

  .about-page {
    align-items: center;
    .collapser {
      margin-left: 0;
      width: 100%;
    }
  }

  .collapser {
    .collaps-button {
      height: 30px;
      margin-top: 20px;

      .title {
        font-size: 13px;
      }
      .arrow {
        width: 16px;
      }
    }
    .text {
      font-size: 12px;
    }
  }

  .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .number {
      font-size: 96px;
      margin: 70px;
    }
    .text {
      width: 60%;
      font-size: 18px;
    }
    .error-link {
      font-size: 14px;
      margin: 70px;
    }
  }

  .footer {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    #logo {
      margin-bottom: 5px;
    }
    .rights {
      font-size: 15px;
    }
  }
}
