$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$basic-font: "Montserrat", sans-serif;

.nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  #logo {
    width: 15%;
  }
  .link {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $primary-color;
    text-decoration: none;
    margin-right: 25px;

    &:hover {
      text-decoration: underline;
    }
  }
  .group {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    left: 70%;
  }
}

//COMPOSANT BANNER

.banner {
  display: flex;
  justify-content: center;
  height: 225px;
  position: relative;
  margin-top: 20px;
  img {
    width: 85%;
    object-fit: cover;
    border-radius: 25px;
  }
  .filter {
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    width: 85%;
    height: 225px;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
  }
}

//COMPOSANT GALLERY

.gallery {
  display: flex;
  width: 85%;
  height: fit-content;
  margin-left: 7.5%;
  margin-top: 50px;
  padding-top: 30px;
  background-color: $secondary-color;
  border-radius: 25px;
  // overflow: hidden;

  .inner-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
  }

  .card {
    width: 340px;
    height: 340px;
    position: relative;
    margin: 35px;
    display: flex;
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }

    .card-title {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0%;
      left: 5%;
      color: white;
      font-size: 18px;
      font-weight: 500;
      font-family: $basic-font;
    }
    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 10px;
    }
  }
}

//PAGE LOGEMENT

.logement {
  // border: #ff6060 solid 1px;
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  // justify-content: center;
  // align-items: center;

  //PARTIE CARROUSEL
  .carrousel {
    width: 100%;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 25px;

    .carrouselpic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }

    .carrousel-nav {
      position: absolute;
      background-color: transparent;
      border: none;
      z-index: 2;
    }
    #prev {
      top: 40%;
      left: 5%;
    }
    #next {
      top: 40%;
      right: 5%;
    }
    #num {
      position: absolute;
      bottom: 5%;
      left: 50%;
      color: white;
      z-index: 2;
    }
  }

  //PARTIE DESCRIPTION

  .lgmt-description {
    .title-host {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .lgmt-title {
        color: $primary-color;
        font-family: $basic-font;
        font-size: 36px;
        font-weight: 500;
      }

      .lgmt-host {
        display: flex;
        justify-content: end;
        align-items: center;
        max-width: 150px;
        .host-name {
          font-family: $basic-font;
          font-size: 18px;
          color: $primary-color;
          font-weight: 500;
          flex-wrap: wrap;
        }
        .host-pic {
          width: 50%;
          border-radius: 50%;
        }
      }
    }

    .lgmt-location {
      color: $primary-color;
      font-family: $basic-font;
      font-size: 18px;
      font-weight: 500;
      position: relative;
      bottom: 30px;
    }

    .tags-stars {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -30px;

      .lgmt-tags {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-left: -15px;
        .tag {
          color: white;
          background-color: $primary-color;
          font-family: $basic-font;
          font-size: 14px;
          font-weight: 500;
          width: fit-content;
          margin: 10px;
          padding: 3px;
          padding-left: 25px;
          padding-right: 25px;
          border-radius: 10px;
        }
      }

      .lgmt-rating {
        display: flex;
        .star {
          margin: 5px;
        }
      }
    }

    .lgmt-collapsers {
      display: flex;

      .lgmt-collapser {
        width: 100%;
      }
    }

    .equipment {
      list-style-type: none;
      margin: 10px;
    }
  }
}

//COMPOSANT COLLAPSER

.collapser {
  // width: 50%;
  // margin-left: 25%;

  .collaps-button {
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    border-radius: 5px;
    width: 100%;
    margin-top: 25px;
    border: none;

    .title {
      color: white;
      font-family: $basic-font;
      font-size: 24px;
      font-weight: 500;
      margin-left: 15px;
    }
    .arrow {
      border: none;
      background-color: $primary-color;
      margin-right: 15px;
      // transform: rotate(45deg);
    }
  }

  .text {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $basic-font;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
  }
}

//PAGE ERROR 404

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .number {
    font-size: 288px;
    font-family: $basic-font;
    font-weight: 700;
    color: $primary-color;
    margin: 10px;
  }
  .text {
    color: $primary-color;
    font-family: $basic-font;
    font-size: 36px;
    font-weight: 500;
  }

  .error-link {
    color: $primary-color;
    font-family: $basic-font;
    font-size: 18px;
    font-weight: 500;
    margin-top: 150px;
  }
}

//COMPOSANT FOOTER

.footer {
  background-color: black;
  color: white;
  height: 209px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  #logo {
    width: 122px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .rights {
    font-family: $basic-font;
    font-weight: 500;
    font-size: 24px;
  }
}

@media (max-width: 650px) {
}
