$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$basic-font: "Montserrat", sans-serif;

.nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
  #logo {
    width: 15%;
  }
  .link {
    font-family: $basic-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $primary-color;
    text-decoration: none;
    margin-right: 25px;

    &:hover {
      text-decoration: underline;
    }
  }
  .group {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    left: 70%;
  }
}

.banner {
  display: flex;
  justify-content: center;
  height: 225px;
  position: relative;
  margin-top: 20px;
  img {
    width: 85%;
    object-fit: cover;
    border-radius: 25px;
  }
  .filter {
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
    width: 85%;
    height: 225px;
    border-radius: 25px;
    z-index: 1;
    position: absolute;
  }
}
.gallery {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  padding-top: 30px;
  background-color: $secondary-color;
  border-radius: 25px;

  .inner-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 340px;
    height: 340px;
    position: relative;
    margin: 25px;
    display: flex;
    border-radius: 10px;

    .card-title {
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      bottom: 0%;
      left: 5%;
      color: white;
      font-size: 18px;
      font-weight: 900;
      font-family: $basic-font;
    }
    img {
      object-fit: cover;
      overflow: auto;
      border-radius: 10px;
    }
  }
}
